<!doctype html>
<html>

<head>
	<title>Family Leave</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style>
		body {
			color: #777;
		}
		h1, h2, h3, h4, h5, h6, strong {
			color: #333;
		}

		.bar.not-available {
			fill: #CCC;
		}
		.bar:hover {
			fill: #F00;
		}

		.chart {
			margin-bottom: 20px;
		}

		.details {
			opacity: 0;
			transition: opacity .15s linear;
		}
		.details.active {
			opacity: 1;
		}

	</style>
</head>

<body>
	<div class="container">
		<h1>Family Leave</h1>
		<p><strong>Source:</strong> <a href="https://fairygodboss.com/maternity-leave-resource-center">Fairygodboss</a></p>
		<svg class="chart"></svg>
		<div class="details">
			<div class="company-name"></div>
			<div class="weeks"><strong>Paid Maternity Leave:</strong> <span class="m-leave-weeks"></span></div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript">

		var t = {
			'translate': _.template("translate(<%= x %>, <%= y %>)"),
			'leaveInWeeks': _.template("<% if (!isNaN(n)) { %><%= n %> weeks<% } else { %>Not Available<% } %>")
		}

		var chart = d3.select(".chart");
		var containerEl = d3.select('.container');
		var detailsEl = d3.select(".details");
		var companyNameEl = d3.select(".company-name");
		var maternityLeaveNumberEl = d3.select(".m-leave-weeks");

		d3.csv("data.csv", type, function(error, data) {
			var barHeight = 30;
			var width = data.length;
			var height = barHeight;

			var maxMaternityLeave = _.max(data, function (d) { return d.maternity_leave ? parseInt(d.maternity_leave) : 0 }).maternity_leave;
			var companyPositionScale = d3.scale.ordinal().domain(_.pluck(data, 'name')).rangeRoundBands([0, width]);
			var maternityWeeksColorScale = d3.scale.linear().domain([0, maxMaternityLeave]).range(['#ffbe71','#4ebec9'])

			chart.attr('width', width).attr('height', height);
			containerEl.style({width: width + 'px'});

			chart.selectAll(".bar")
					.data(data)
				.enter().append("rect")
					.classed('bar', true)
					.classed('not-available', function (d) {
						return isNaN(parseInt(d.maternity_leave));
					})
					.attr('x', 0)
					.attr('y', 0)
					.attr('transform', function (d) {
						return t.translate({x: companyPositionScale(d.name), y: 0});
					})
					.attr('fill', function (d) {
						return maternityWeeksColorScale(d.maternity_leave);
					})
					.attr('width', companyPositionScale.rangeBand())
					.attr('height', 30)
					.on('mouseover', function (d, i) {
						detailsEl.classed('active', true);
						companyNameEl.html(d.name);
						maternityLeaveNumberEl.html(t.leaveInWeeks({n: parseInt(d.maternity_leave)}));
					})
					.on('mouseout', function (d, i) {
						detailsEl.classed('active', false);
					});
		});

		function type(d) {
			d.value = +d.value; // coerce to number
			return d;
		}
	</script>
</body>

</html>
